* text=auto eol=lf

*.bat text eol=crlf
*.gradle text eol=lf
*.java text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mcmeta text eol=lf
*.patch text eol=lf -diff
*.properties text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.yml text eol=lf
gradlew text eol=lf

src/generated/**/.cache/cache text eol=lf
src/generated/**/*.json text eol=lf
